*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
}
#searchPerson{
    width: 30%;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items:  center;
}
#message{
    width: 70%;
    height: 100vh;
    background-color: rgba(139, 139, 139, 0.514);
}
.listMessage{
    width: 100%;
    height: 100vh;
    background-color: rgba(102, 102, 102, 0.534);
}
.item h4{
    margin: 2rem 0;
}